*.bak
*.bz2
*.cgi
*.deb
*.la
*.lo
*.log
*.o
*.sql
*~
.deps/
.libs/
.idea/
.svn
Makefile
autom4te.cache/
cached
config.status
dp.inc
dpconv
dpguesser
dps_config.h
dpurl2text
indexer
libtool
searchd
splitter
stored
dps-config
run-splitter
